@page
@model _2FSemesterProjekt2024.Pages.Bookings.GetBookingModel
@{
    ViewData["Title"] = "GetBooking";
}

<h3 style="color:red"> List of bookings</h3>
<table class="table">
    <thead>
        <tr>
            <th> PickupLocation </th>
            <th> DropoffLocation </th>
            <th> BookingTime </th>
            <th> Seats </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.Bookings)
            {
                <tr>
                    <td>  @item.PickupLocation </td>
                    <td>  @item.DropoffLocation  </td>
                    <td>  @item.BookingTime  </td>
                    <td>  @item.Seats  </td>
@*                         <p>

                            <a asp-page="/Bookings" asp-route-did="@item.BookingId">View profile</a>|

                        </p> *@
                </tr>
            }
        }

        <p>
    <a asp-page="/Bookings/Create">Create New Booking</a>
        </p>
</table>