@page
@model _2FSemesterProjekt2024.Pages.Passengers.ProfileModel
@{
    ViewData["Title"] = " Passenger profile";
}

<h1>Passenger Profile</h1>

<div class="passenger-profile">
    <div class="profile-picture">
        <img src="@Model.Passenger.ProfilePictureUrl" alt="Profile Picture" />
    </div>
    <div class="passenger-details">
        <h2>@Model.Passenger.PassengerName</h2>
        <p><strong>Email:</strong> @Model.Passenger.Email</p>
        <p><strong>Phone Number:</strong> @Model.Passenger.PhoneNumber</p>
        <p><strong>Vehicle Info:</strong> @Model.Passenger.Password</p>
               
    </div>
</div>

<a class="btn btn-primary" asp-page="./Update" asp-route-pid="@Model.Passenger.PassengerId">Edit Profile</a>
